---
layout: default
permalink: /
weight: 1
remote_projects:
  - Avery2.github.io
  - steam-hours
  - Toggl-Analysis
  - text-to-spooch
  - SimpleReadme
  - SpotifyDataAnalysis
  - Backpropagation-Neural-Network
  - Just-Read-Less-Features
  - Qbserve-data
  - rastor-canvas-division
  - xv6_memoryencrypt
  - Backpropagation-Neural-Network
  - ClassifyTerms
remote_open_new_tab: true
open_new_tab: false
---

{% include landing.html %}

<div id="About"></div>
<div
  class="col-lg-10 mx-auto mt-5 markdown-body"
  style="margin-top: 0 !important"
>
  <h1 align="center" style="margin-top: 0">
    Hi, I’m Avery 👋
    <sub
      ><sup><i>(full name: Justin "Avery" Chan)</i></sup></sub
    >
  </h1>
  <br />
  I’m currently a computer science and data science double major at the
  University of Wisconsin-Madison. This summer I worked as a developer intern at
  Halo Science. I have a passion for productivity software and coding. Feel free
  to reach out to me!

  <br />

  <h1>
    <div align="center">
      <a href="https://github.com/Avery2" target="_blank"
        ><i class="fab fa-github" data-fa-transform="shrink-0.5 up-0.5"></i>
        GitHub
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/avery2" target="_blank"
        ><i class="fab fa-linkedin" data-fa-transform="shrink-0.5 up-0.5"></i>
        LinkedIn</a
      >
      &nbsp;
      <a href="mailto:justinaverychan@gmail.com"
        ><i class="fas fa-envelope"></i> Email</a
      >
      &nbsp;
      <a
        href="https://www.averychan.site/normal-resume/Justin_Avery_Chan_Resume.pdf#view=FitH"
        target="_blank"
        ><i class="fas fa-file" data-fa-transform="shrink-2 up-0.8"></i>
        Resume</a
      >
    </div>
  </h1>

  <!-- <div class="row">
{% include about/skills.html title="Programming Interests" source=site.data.programming-skills %}
{% include about/skills.html title="Other Interests" source=site.data.other-skills %}
</div> -->
  <br />
  <div align="center" style="padding: 0; margin: 0">
    <!-- <h1>Projects</h1> -->
    <p>
      Here are some of my projects (more on
      <a href="https://github.com/Avery2?tab=repositories&type=source" target="_blank">GitHub</a>):
    </p>
  </div>
</div>

<div id="Projects"></div>

{% include projects/index.html %}
<!-- <div class="col-lg-10 mx-auto mt-5 markdown-body" style="margin-top: 0 !important;">
  <div class="row">{% include about/timeline.html %}</div>
</div> -->

<div align="center" class="markdown-body" style="margin-top: 2rem; margin-bottom: 2rem;">
  <p><a href="#">Back To Top</a></p>
</div>
