---
layout: default
permalink: /
weight: 1
remote_projects:
  - Avery2
  - Avery2.github.io
  - steam-hours
  - Toggl-Analysis
  - text-to-spooch
  - SimpleReadme
  - ClassifyTerms
  - SpotifyDataAnalysis
  - Backpropagation-Neural-Network
  - resume
  - Just-Read-Less-Features
  - normal-resume
remote_open_new_tab: true
---

{% include landing.html %}

<div id="About"></div>
<div class="col-lg-10 mx-auto mt-5 markdown-body" style="margin-top: 0 !important;">
  <h1 align="center" style="margin-top: 0;">
    Hi, I’m Avery 👋
    <sub
      ><sup><i>(full name: Justin "Avery" Chan)</i></sup></sub
    >
  </h1>
  <br />
  I’m currently a computer science and data science double major at the
  University of Wisconsin-Madison. This summer I worked as a developer intern at
  Halo Science. I have a passion for productivity software and coding. Feel free
  to reach out to me!

  <br />
  <br />

  <h1>
    <div align="center">
      <a href="https://github.com/Avery2"
        target="_blank"
        ><i class="fab fa-github"></i> GitHub
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/avery2"
        target="_blank"
        ><i class="fab fa-linkedin"></i> LinkedIn</a
      >
      &nbsp;
      <a href="mailto:justinaverychan@gmail.com"
        ><i class="fas fa-envelope"></i> Email</a
      >
      &nbsp;
      <a
        href="https://www.averychan.site/normal-resume/Justin_Avery_Chan_Resume.pdf#view=FitH"
        target="_blank"
        ><i class="fas fa-file"></i> Resume</a
      >
    </div>
  </h1>

  <!-- <div class="row">
{% include about/skills.html title="Programming Interests" source=site.data.programming-skills %}
{% include about/skills.html title="Other Interests" source=site.data.other-skills %}
</div> -->

  <div class="row">{% include about/timeline.html %}</div>
</div>

<div id="Projects"></div>
{% include projects/index.html %}
<div align="center" class="markdown-body"><a href="#">Back To Top</a></div>
